
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ayuda - Grupo 19</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="main.ts"></script>
  </head>

  <body>
    <div class="wrapper">

      <!-- HEADER -->
      <header>
        <div class="BookflixLogo">
          <a id="logo" href="home"><img src="./assets/logo.png" alt="Logo Image" title="Bookflix Grupo 19"></a>
        </div>
      </header>
      <h1>Usuarios registrados</h1>
       <!-- END OF HEADER -->
       <div *ngIf="!searched" >

        <form class="login-container" [formGroup]="form" (ngSubmit)="onSearch(form)">
          Ingrese el período para mostrar los usuarios<br><br>
          <label for="date_from" style="font-weight: bold;">Desde: </label>
          <input type="date" id="date_from" formControlName="date_from" placeholder="Ingrese una fecha de inicio."><br>
          <label for="date_to" style="font-weight: bold;">Hasta: </label>
          <input type="date" id="date_to" formControlName="date_to" placeholder=""><br>

          <button type="login input" class="btn btn-primary" [disabled]="!form.valid">
            Buscar!
          </button><br>

          <div [hidden]="!form.controls['date_to'].hasError('invalid')" class="alert alert-danger" style="color:red">
            Por favor, seleccione un rango de fechas válidas.
         </div>


        </form>
      </div>

      <div *ngIf="searched" >
        <h3 *ngIf="user[0]==undefined">No hay resultados para la búsqueda</h3>
        <a (click)="searchAgain()" style="color:#f2f2f2;text-decoration: underline;cursor: pointer;">Buscar nuevamente</a><br><br>
        <span *ngFor="let u of user; index as i" >
          <a>Nombre: {{u.name}}</a><br>
          <a>Email: {{u.email}}</a><br>
          <a>Creado el: {{u.createdAt.toString().substr(0,10)}}</a><br>
          <a>Plan: {{u.account.plan}}</a><br>
          <a>Perfiles Activos: {{u.account.profiles.lenght}}</a><br>
          <tr *ngFor="let profile of u.account.profiles;index as j">
            <a>-- #{{j+1}}  {{profile.name}}</a><br>
          </tr><br><br>
          ----<br><br>

        </span>



      </div>


        <a href="adminpanel" style="color:#f2f2f2">Volver</a>

       <!-- LINKS -->
       <section class="link">
        <div class="logos">
          <a href="http://www.facebook.com"><i class="fab fa-facebook-square fa-2x logo"></i></a>
          <a href="http://www.instagram.com"><i class="fab fa-instagram fa-2x logo"></i></a>
          <a href="http://www.twitter.com"><i class="fab fa-twitter fa-2x logo"></i></a>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-youtube fa-2x logo"></i></a>
        </div>
        <div class="sub-links">
          <ul>
            <li><a href="contactus">Contáctanos</a></li>
            <li><a href="terms">Términos de uso</a></li>
            <li><a href="help">Ayuda</a></li>
            <li><a href="https://ideas.info.unlp.edu.ar">Cátedra Ingeniería</a></li>
            <li><a href="https://github.com/agustin-chavez/bookflix">Grupo 19 (repo on github)</a></li>
            <li><a href="#">Agustín Chavez</a></li>
            <li><a href="#">Lautaro Molina</a></li>
            <li><a href="#">Santiago Sequeyra</a></li>

          </ul>
        </div>
      </section>
      <!-- END OF LINKS -->

      <!-- FOOTER -->
      <footer>
        <p> static void ® - Grupo 19</p>
        <p>Ing. Software 2 - UNLP - 2020</p>
      </footer>
    </div>
  </body>
  </html>
