
a .pointer {cursor: pointer;}
table
{
border-bottom: 2px Solid Black;
border-right: 2px Solid Black;
border-collapse : collapse;
}
table td
{
padding-right:10px;
padding-left:10px;
text-align:left;
border-left: 2px Solid Black;
border-top: 2px Solid Black;
border-bottom:2px Solid Black;
border-right:2px Solid Black;
max-width: 1250px;
word-wrap: break-word;
}
#table td img{
  width:100%; height:auto;;
}
table th
{
  text-decoration: solid;
  padding-right:10px;
  padding-left:10px;
  text-align:center;
  border-left: 4px Solid Black;
  border-top: 4px Solid Black;
  border-bottom:4px Solid Black;
  border-right:4px Solid Black;
  max-width: 850px;
  word-wrap: break-word;


}
