<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Términos de uso - Grupo 19</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
          integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
          crossorigin="anonymous"></script>
  <script src="main.ts"></script>
</head>

<body>
<div class="wrapper">

  <!-- HEADER -->
  <header>
    <div class="BookflixLogo">
      <a id="logo" href="home"><img src="./assets/logo.png" alt="Logo Image" title="Bookflix Grupo 19"></a>
    </div>
    <nav class="main-nav">
      <a href="home" title="Home">Home</a>
      <a href="favourites" title="Tus favoritos">Favoritos</a>
      <a href="news" title="Últimas novedades">Novedades</a>
      <a target="_blank" href="https://unlp.edu.ar/" title="Página oficial UNLP">UNLP</a>
    </nav>
    <nav class="sub-nav">
      <a href="search" title="Búsqueda">Búsqueda</a>
      <a href="account" title="Configuración del perfil">Cuenta</a>
    </nav>
  </header>
  <!-- END OF HEADER -->
  <div>
    <h1>Términos de uso</h1>

    <p> MIT License

      Copyright (c) 2020 Agustín Chávez, Lautaro Molina, Santiago Sequeyra

      Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files (the "Software"), to deal
      in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
      copies of the Software, and to permit persons to whom the Software is
      furnished to do so, subject to the following conditions:

      The above copyright notice and this permission notice shall be included in all
      copies or substantial portions of the Software.

      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
      OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
      SOFTWARE.
    </p>
  </div>

  <!-- LINKS -->
  <section class="link">
    <div class="logos">
      <a href="http://www.facebook.com"><i class="fab fa-facebook-square fa-2x logo"></i></a>
      <a href="http://www.instagram.com"><i class="fab fa-instagram fa-2x logo"></i></a>
      <a href="http://www.twitter.com"><i class="fab fa-twitter fa-2x logo"></i></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-youtube fa-2x logo"></i></a>
    </div>
    <div class="sub-links">
      <ul>
        <li><a href="contactus">Contáctanos</a></li>
        <li><a href="terms">Términos de uso</a></li>
        <li><a href="help">Ayuda</a></li>
        <li><a href="https://ideas.info.unlp.edu.ar">Cátedra Ingeniería</a></li>
        <li><a href="https://github.com/agustin-chavez/bookflix">Grupo 19 (repo on github)</a></li>
        <li><a href="#">Agustín Chavez</a></li>
        <li><a href="#">Lautaro Molina</a></li>
        <li><a href="#">Santiago Sequeyra</a></li>

      </ul>
    </div>
  </section>
  <!-- END OF LINKS -->

  <!-- FOOTER -->
  <footer>
    <p> static void ® - Grupo 19</p>
    <p>Ing. Software 2 - UNLP - 2020</p>
  </footer>
</div>
</body>
</html>
