<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bookflix - Grupo 19</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
          integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
          crossorigin="anonymous"></script>
  <script src="src/main.ts"></script>
</head>
<body>
<div class="wrapper">


  <!-- HEADER -->
  <header>
    <div class="BookflixLogo">
      <a id="logo"><img src="./assets/logo.png" alt="Logo Image" title="Bookflix Grupo 19"></a>
    </div>
  </header>
  <h1>Detalles del libro</h1>
<br>
<br>
  <div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Detalles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img *ngIf="hasCover" src="http://localhost:3000/api/files/downloads/cover/{{book._id}}" /><img *ngIf="!hasCover" src="../../assets/notCover.png" /></td>
          <td></td>
          <td><h4> Título: {{book.title}} </h4>
            <h4> ISBN: {{book.isbn}} </h4>
            <h4> Editorial: {{book.publisher.name}}</h4>
            <h4> Autor: {{book.author.name}}</h4>
            <h4> Género: {{book.genre.name}}</h4>

    </tr>
</tbody>
</table>
    --------------<br>
    <a style="color:#f2f2f2" style="cursor: pointer; text-decoration: underline;" (click)="modifyBook(book._id,book.title,book.isbn,book.author._id,book.publisher._id,book.genre._id,book.complete)">Modificar datos </a><br><br>
    <a style="color:#f2f2f2" style="cursor: pointer; text-decoration: underline;" (click)="uploadFile(book._id)">Ver Archivos </a><br><br>
    <a style="color:#f2f2f2" style="cursor: pointer; text-decoration: underline;" (click)="trailerListBook(book._id)">Ver Trailers</a><br><br>
    <a *ngIf="book.cover == null" style="color:#f2f2f2; text-decoration:underline; cursor: pointer" (click)="uploadCover(book._id)">Subir Portada <br><br></a>
    <a *ngIf="book.cover != null" style="color:#f2f2f2; text-decoration:underline; cursor: pointer" (click)="deleteCover(book._id)">Borrar Portada <br><br></a>

  </div>

  -----<br>
  <a (click)="goBack()" style="color:#f2f2f2;text-decoration: underline;cursor: pointer;">Volver</a>

     </div>

  <!-- LINKS -->
  <section class="link">
    <div class="logos">
      <a href="http://www.facebook.com"><i class="fab fa-facebook-square fa-2x logo"></i></a>
      <a href="http://www.instagram.com"><i class="fab fa-instagram fa-2x logo"></i></a>
      <a href="http://www.twitter.com"><i class="fab fa-twitter fa-2x logo"></i></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-youtube fa-2x logo"></i></a>
    </div>
    <div class="sub-links">
      <ul>
        <li><a href="contactus">Contáctanos</a></li>
        <li><a href="terms">Términos de uso</a></li>
        <li><a href="help">Ayuda</a></li>
        <li><a href="https://ideas.info.unlp.edu.ar">Cátedra Ingeniería</a></li>
        <li><a href="https://github.com/agustin-chavez/bookflix">Grupo 19 (repo on github)</a></li>
        <li><a href="#">Agustín Chavez</a></li>
        <li><a href="#">Lautaro Molina</a></li>
        <li><a href="#">Santiago Sequeyra</a></li>

      </ul>
    </div>
  </section>
  <!-- END OF LINKS -->

  <!-- FOOTER -->
  <footer>
    <p> static void ® - Grupo 19</p>
    <p>Ing. Software 2 - UNLP - 2020</p>
  </footer>


  <router-outlet></router-outlet>
