<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bookflix - Grupo 19</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
          integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
          crossorigin="anonymous"></script>
  <script src="main.ts"></script>
</head>
<body>
<div class="wrapper">


  <!-- HEADER -->
  <header>
    <div class="BookflixLogo">
      <a id="logo"><img src="./assets/logo.png" alt="Logo Image" title="Bookflix Grupo 19"></a>
    </div>
  </header>

  <!-- END OF HEADER -->

  <!-- MAIN CONTAINER -->
     <div *ngIf="!creation" class="location" id="home">
      <h1 id="home">Selecciona tu perfil</h1>

    <div class="box">
      <tr style="text-align:center;cursor:pointer; " *ngFor="let profile of user.account.profiles; index as i" >
        <a (click)="saveProfile(user.account.profiles[i]._id,[i])"><img src="./assets/profile.png"/>{{user.account.profiles[i].name}} <br></a>
        <a *ngIf="usedProfiles>1" style="font-size: x-small; cursor:pointer; text-decoration:underline" (click)="deleteProfile(profile._id)">BORRAR</a>
      </tr>
      <tr style="text-align:center;cursor:pointer;" *ngIf="usedProfiles<maxProfiles">
        <a (click)="createProfile()"><img src="./assets/addProfile.png"/> Añadir perfil </a>
      </tr>
    </div>
  </div>


  <div *ngIf="creation" class="location" id="home">
    <h1 id="home">Crear perfil</h1>
    <form class="login-container" [formGroup]="form" (ngSubmit)="onCreate(form)">
    <label for="profile" class="control-label">Nombre: </label>
    <input type="text" id="profile" class="form-control" formControlName="profile" placeholder="Ingrese nombre">

    <button type="login input" class="btn btn-primary" [disabled]="!form.valid">
      Crear perfil
    </button><br>
  </form>

  ----<br>

  <a (click)="cancel()" style="text-decoration:underline;cursor:pointer">Cancelar</a>

 </div>

    <!-- END OF MAIN CONTAINER -->


    <!-- FOOTER -->
    <footer>
      <p> static void ® - Grupo 19</p>
      <p>Ing. Software 2 - UNLP - 2020</p>
    </footer>


    <router-outlet></router-outlet>
