
.zoom {
  transition: transform .3s;
  text-align: center;
  font-weight: bold;
}


.zoom img:hover {
  transition: transform .3s;
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


.zoom img {
  border-radius: 2px;
  margin:6px;
}
