
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ayuda - Grupo 19</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="main.ts"></script>
  </head>

  <body>
    <div class="wrapper">

      <!-- HEADER -->
      <header>
        <div class="BookflixLogo">
          <a id="logo" ><img src="./assets/logo.png" alt="Logo Image" title="Bookflix Grupo 19"></a>
        </div>

      </header>
       <!-- END OF HEADER -->
       <div>
        <h1>Crear Trailer</h1>
        <form class="login-container" [formGroup]="form" (ngSubmit)="onCreate(form)">

            <div class="form-group">
            <div class="col-sm-12">
              <label for="search" class="control-label">Título trailer: </label>
              <input type="text" id="title" class="form-control" formControlName="title" placeholder="Ingrese título">
            </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <label for="search" class="control-label">Cuerpo trailer: </label>
                <textarea id="description" class="form-control" maxlength="700" formControlName="description" placeholder="Ingrese cuerpo"></textarea>
              </div>
              </div>

          <button type="login input" class="btn btn-primary" [disabled]="!form.valid">
            Crear trailer
          </button><br>


          <a (click)="goBack()" style="color:#f2f2f2;text-decoration: underline;cursor:pointer;">Volver</a>

        </form>
     </div>


      <!-- FOOTER -->
      <footer>
        <p> static void ® - Grupo 19</p>
        <p>Ing. Software 2 - UNLP - 2020</p>
      </footer>
    </div>
  </body>
  </html>
