
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ayuda - Grupo 19</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="main.ts"></script>
  </head>

  <body>
    <div class="wrapper">

      <!-- HEADER -->
      <header>
        <div class="BookflixLogo">
          <a id="logo" href="home"><img src="./assets/logo.png" alt="Logo Image" title="Bookflix Grupo 19"></a>
        </div>

      </header>
       <!-- END OF HEADER -->
       <div>
         <h1>Todas las reviews</h1>
        <div *ngIf="!vacio">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Título</th>
                <th scope="col" maxlength="300px">Descripcion</th>
                <th scope="col">Rating</th>
                <th scope="col">Marcada como spoiler?</th>
                <th scope="col">Libro</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let review of reviews; index as i" onload="getBookTitle(trailer.book_id)">

                <td><a style="color:#f2f2f2" >{{review.title}}</a></td>
                <td><a *ngIf="review.description!==null&&review.description!==undefined"style="color:#f2f2f2" >{{review.description}}</a><a *ngIf="review.description==null||review.description==undefined||review.description==''"style="color:#f2f2f2" >----</a></td>
                <td><a style="color:#f2f2f2" >{{review.rating}}/5</a></td>
                <td><a *ngIf="review.spoiler" style="color:#f2f2f2" >Sí </a><a *ngIf="!review.spoiler" style="color:#f2f2f2" >No </a><a style="color:#f2f2f2" style="text-decoration:underline;cursor:pointer;font-size: small;"(click)="toggleSpoiler(review._id,review.spoiler)">(Cambiar)</a></td>
                <td><a style="color:#f2f2f2" >{{review.book.title}}</a></td>
                <td style="cursor: pointer"><a style="color:#f2f2f2" style="text-decoration:underline"(click)="deleteReview(review._id,review.book)">Borrar</a></td>

              </tr>

            </tbody>
          </table>
        </div>
        <h3 *ngIf="vacio">
          No hay reviews para mostrar.
        </h3>

          <br><br>---------<br><br>
          <a style="text-decoration: underline;cursor:pointer" (click)="goBack()">Volver</a>
     </div>
       <!-- LINKS -->
       <section class="link">
        <div class="logos">
          <a href="http://www.facebook.com"><i class="fab fa-facebook-square fa-2x logo"></i></a>
          <a href="http://www.instagram.com"><i class="fab fa-instagram fa-2x logo"></i></a>
          <a href="http://www.twitter.com"><i class="fab fa-twitter fa-2x logo"></i></a>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-youtube fa-2x logo"></i></a>
        </div>
        <div class="sub-links">
          <ul>
            <li><a href="contactus">Contáctanos</a></li>
            <li><a href="terms">Términos de uso</a></li>
            <li><a href="help">Ayuda</a></li>
            <li><a href="https://ideas.info.unlp.edu.ar">Cátedra Ingeniería</a></li>
            <li><a href="https://github.com/agustin-chavez/bookflix">Grupo 19 (repo on github)</a></li>
            <li><a href="#">Agustín Chavez</a></li>
            <li><a href="#">Lautaro Molina</a></li>
            <li><a href="#">Santiago Sequeyra</a></li>

          </ul>
        </div>
      </section>
      <!-- END OF LINKS -->

      <!-- FOOTER -->
      <footer>
        <p> static void ® - Grupo 19</p>
        <p>Ing. Software 2 - UNLP - 2020</p>
      </footer>
    </div>
  </body>
  </html>
